$main-color: white;

body {
  background-color: $main-color;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
/* 링크 스타일 */

a {
  text-decoration: none;
  color: black;
  /* font: inherit; */
}
/* 공통 스타일 */

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.content {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
/* 숨김 콘텐츠 */

.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
/* 나중에 지울거 */
.section {
  position: relative;
}

//로고
.logo {
  width: 300px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
}
.nav{
  float: right;
  // background-color: yellow;
}
.nav-list li{
  float: left;
  margin-left: 20px;
  font-size: 15px;
  color: black;
}
.nav-list li:hover{
    display: block;
    width: 60px;
    border-bottom: 1px solid #303030;
}
.menu {
  margin-top: 100px;
  float: left;
  // background-color: yellow;
}
.menu-bar li {
  float: left;
  margin-left: 130px;
  // background-color: yellow;
}
.searchBarForm {
  float: right;
}
fieldset{
  border: 0;
}
/* section2 영역 */

.section2{
  border-top: 1px solid black;
}
.card-box {
  width: 250px;
  height: 345px;
  background-color: white;
  float: left;
  margin-left: 21px;
  margin-top: 35px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 7px 9px rgba(0, 0, 0, .1);
}
.card-box img {
  width: 345px;
  height: 245px;
}
.card-box-text {
  margin-left: 15px;
}
.card-box-text h3 {
  margin-top: 13px;
  font-size: 16px;
  color: #575757;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-box-text h3:hover {
  color: #f88c00;
}
.card-box-text h3::after {
  content: "";
  display: block;
  width: 100px;
  border-bottom: 2px solid #c5c5c5;
  margin: 8px 0px;
}
.card-box-text p {
  color: #181818;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* 여러 줄 자르기 추가 스타일 */
  white-space: normal;
  text-align: left;
}
/* 여기서부터 로그인 페이지  */
.login{
  text-align: center;
}
.login__username{
  border: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  line-height: 35px;
}
.login__password{
  border: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  line-height: 35px;
}
.login__form button{
  background-color: #181818;
  border: 0;
  color: white;
  font-size: 14px;
  line-height: 35px;
  cursor: pointer;
}

/* section3 영역 */

.section3 {
  margin-top: 50px;
  /* height: 100px; */
  border-top: 1px solid #c5c5c5;
  background-color: white;
}
.footer {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 22px;
}
